---
title: APPX
description: Removes APPX packages and prevents them from being reinstalled
privilege: TrustedInstaller
actions:
  - !writeStatus: {status: 'Removing APPX packages'}
  
  # The reason of removing those applications is that there is a potential of them sending user data,
  # showing unwanted content (advertisements) and using hardware resources. They can also simply be
  # annoyances that are never used. However, most of these applications can be reinstalled via the
  # Microsoft Store in case the user needs them.

  # https://docs.microsoft.com/en-us/windows/application-management/apps-in-windows-10

  #####################################################################################################

  # Get current AppX packages to deprovision removed ones later
  - !powerShell:
    command: '(Get-AppxPackage).PackageFamilyName | Out-File "$env:windir\AtlasModules\AtlasPackagesOld.txt"'
    runas: currentUserElevated

  # Clipchamp
  - !appx: {name: '*Clipchamp*', type: family}

  # Disney
  - !appx: {name: '*Disney*', type: family}

  # Spotify
  - !appx: {name: '*Spotify*', type: family}

  # Microsoft Teams
  - !taskKill: {name: '*teams*', ignoreErrors: true}
  - !appx: {name: '*MicrosoftTeams*', type: family}

  # Cortana
  - !appx: {name: '*Microsoft.549981C3F5F10*', type: family}

  # Mixed Reality
  - !appx: {name: '*Microsoft.MixedReality.Portal*', type: family}

  # Dev Home
  - !appx: {name: '*Microsoft.Windows.DevHome*', type: family}
  
  # Network connection should not be needed in OOBE
  # Could force users to have to login to a Microsoft account in OOBE
  # Would not be a dependency of anything
  - !appx: {name: '*Microsoft.Windows.OOBENetworkCaptivePortal*', type: family}
  - !appx: {name: '*Microsoft.Windows.OOBENetworkConnectionFlow*', type: family}

  # Mail and Calendar
  - !appx: {name: '*microsoft.windowscommunicationsapps*', type: family}

  # Take a Test
  # https://www.mdsec.co.uk/2021/03/phishing-users-to-take-a-test
  - !appx: {name: '*Microsoft.Windows.SecureAssessmentBrowser*', type: family}

  # Paint 3D
  - !appx: {name: '*Microsoft.MSPaint*', type: family}

  # Widgets
  - !appx: {name: '*MicrosoftWindows.Client.WebExperience*', type: family}

  # Get Started
  - !appx: {name: '*Microsoft.Getstarted*', type: family}
  - !appx: {name: '*WebExperienceHost*', type: app, unregister: true}

  # Windows Backup
  - !appx: {name: '*WindowsBackup*', type: app, unregister: true}

  # Advertisements/Telemetry
  - !appx: {name: '*Global.Accounts*', type: app, unregister: true}
  - !appx: {name: '*Global.BackupBanner*', type: app, unregister: true}
  - !appx: {name: '*Global.IrisService*', type: app, unregister: true}
  - !appx: {name: '*Global.ValueBanner*', type: app, unregister: true}
  
  - !run:
    exe: 'powershell.exe'
    args: '-NoP -File CLIENTCBS.ps1'
    exeDir: true

  # Quick Assist
  - !appx: {name: '*MicrosoftCorporationII.QuickAssist*', type: family}

  - !appx: {name: '*Microsoft.Advertising.Xaml*', type: family}
  - !appx: {name: '*Microsoft.BingNews*', type: family}
  - !appx: {name: '*Microsoft.BingSearch*', type: family}
  - !appx: {name: '*Microsoft.BingWeather*', type: family}
  - !appx: {name: '*Microsoft.GetHelp*', type: family}
  - !appx: {name: '*Microsoft.Microsoft3DViewer*', type: family}
  - !appx: {name: '*Microsoft.MicrosoftOfficeHub*', type: family}
  - !appx: {name: '*Microsoft.MicrosoftSolitaireCollection*', type: family}
  - !appx: {name: '*Microsoft.MicrosoftStickyNotes*', type: family}
  - !appx: {name: '*Microsoft.Office.OneNote*', type: family}
  - !appx: {name: '*Microsoft.OutlookForWindows*', type: family}
  - !appx: {name: '*Microsoft.People*', type: family}
  - !appx: {name: '*Microsoft.PowerAutomateDesktop*', type: family}
  - !appx: {name: '*Microsoft.Windows.PeopleExperienceHost*', type: family}
  - !appx: {name: '*Microsoft.ScreenSketch*', type: family}
  - !appx: {name: '*Microsoft.SkypeApp*', type: family}
  - !appx: {name: '*Microsoft.Todos*', type: family}
  - !appx: {name: '*Microsoft.Wallet*', type: family}
  - !appx: {name: '*Microsoft.Windows.ParentalControls*', type: family}
  - !appx: {name: '*Microsoft.Windows.Photos*', type: family}
  - !appx: {name: '*Microsoft.WindowsAlarms*', type: family}
  - !appx: {name: '*Microsoft.WindowsCamera*', type: family}
  - !appx: {name: '*Microsoft.WindowsFeedbackHub*', type: family}
  - !appx: {name: '*Microsoft.WindowsMaps*', type: family}
  - !appx: {name: '*Microsoft.WindowsSoundRecorder*', type: family}
  - !appx: {name: '*Microsoft.YourPhone*', type: family}
  - !appx: {name: '*Microsoft.ZuneMusic*', type: family}
  - !appx: {name: '*Microsoft.ZuneVideo*', type: family}

  # Prevent provisioned applications from being reinstalled
  # https://learn.microsoft.com/en-us/windows/application-management/remove-provisioned-apps-during-update
  - !powerShell:
    command: '$a = """$env:windir\AtlasModules\AtlasPackagesOld.txt"""; (diff (gc $a) ((Get-AppxPackage).PackageFamilyName)).InputObject | Foreach-Object { New-Item -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Appx\AppxAllUserStore\Deprovisioned" -Name $_ -Force }; Remove-Item $a -Force'
    runas: currentUserElevated

  # Clear caches of Start menu and more
  - !appx: {operation: clearCache, name: '*Client.CBS*'}
  - !appx: {operation: clearCache, name: '*StartMenuExperienceHost*'}
  - !appx: {operation: clearCache, name: '*Windows.Search*'}
  - !appx: {operation: clearCache, name: '*Microsoft.Windows.SecHealthUI'}
