---
title: Initial Configuration
description: Copies Atlas folders/files, installs dependencies and performs the preliminary configuration
privilege: TrustedInstaller
actions:
    # AME Wizard Live Log for development playbooks
    # Do not change the line position of this, otherwise things will break when using local-build
  # - !run: {exe: 'cmd.exe', args: '/c start "AME Wizard Live Log" PowerShell -NoP -C "gc -Wait Logs\TIOutput.txt -EA SilentlyContinue | Write-Output; pause"', baseDir: true, wait: false}

    # Prevent annoying notifications during deployment
  - !registryValue: {path: 'HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\Notifications\Settings\Windows.SystemToast.SecurityAndMaintenance', value: 'Enabled', type: REG_DWORD, data: '0'}

    # Prevent computer from going to sleep during deployment
  - !run: {exe: 'powercfg.exe', args: '/setacvalueindex scheme_current sub_sleep standbyidle 0'}
  - !run: {exe: 'powercfg.exe', args: '/setdcvalueindex scheme_current sub_sleep standbyidle 0'}

  - !writeStatus: {status: 'Copying files'}
  - !cmd:
    command: 'robocopy "AtlasModules" "%windir%\AtlasModules" /E /PURGE /IM /IT /NP > nul'
    weight: 10
    wait: true
    exeDir: true
  - !cmd:
    command: 'robocopy "AtlasDesktop" "%windir%\AtlasDesktop" /E /PURGE /IM /IT /NP > nul'
    weight: 10
    wait: true
    exeDir: true

  - !writeStatus: {status: 'Setting the environment'}
  - !cmd: {command: 'setx PATH "%PATH%;%windir%\AtlasModules;%windir%\AtlasModules\Apps;%windir%\AtlasModules\Other;%windir%\AtlasModules\Tools;%windir%\AtlasModules\Scripts" -m'}
  - !cmd: {command: 'setx PSModulePath "%PSModulePath%;%windir%\AtlasModules\Scripts\Modules" -m'}

    # Doesn't refresh the environment variables of TrustedUninstaller
    # An alternative should be found, for now, exact paths are used
  # - !writeStatus: {status: 'Refreshing variables'}
  # - !run: {exeDir: true, exe: 'REFRESHENV.cmd'}

  - !writeStatus: {status: 'Configuring Optional Features'}
  - !run: {exe: 'DISM.exe', args: '/Online /Cleanup-Image /StartComponentCleanup', weight: 30}
  - !run: {exe: 'DISM.exe', args: '/Online /Enable-Feature /FeatureName:"DirectPlay" /NoRestart /All', weight: 30}
  - !run: {exe: 'DISM.exe', args: '/Online /Disable-Feature /FeatureName:"Internet-Explorer-Optional-amd64" /NoRestart', weight: 30, builds: [ '!>=22000' ]}
  - !run: {exe: 'DISM.exe', args: '/Online /Disable-Feature /FeatureName:"Printing-Foundation-Features" /NoRestart', weight: 30}
  - !run: {exe: 'DISM.exe', args: '/Online /Disable-Feature /FeatureName:"Printing-Foundation-InternetPrinting-Client" /NoRestart', weight: 30}
  - !run: {exe: 'DISM.exe', args: '/Online /Disable-Feature /FeatureName:"Printing-XPSServices-Features" /NoRestart', weight: 30}
  - !run: {exe: 'DISM.exe', args: '/Online /Disable-Feature /FeatureName:"Printing-PrintToPDFServices-Features" /NoRestart', weight: 30}

  ################ NO LOCAL BUILD ################

  - !writeStatus: {status: 'Installing software'}
  - !powerShell:
    command: '& """SOFTWARE.ps1"""'
    exeDir: true
    weight: 150
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing Google Chrome', option: 'browser-chrome'}
  - !powerShell:
    command: '& """SOFTWARE.ps1""" -Chrome'
    exeDir: true
    weight: 150
    option: 'browser-chrome'
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing Brave', option: 'browser-brave'}
  - !powerShell:
    command: '& """SOFTWARE.ps1"" -Brave'
    exeDir: true
    weight: 150
    option: 'browser-brave'
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing Waterfox', option: 'browser-waterfox'}
  - !powerShell:
    command: '& """SOFTWARE.ps1""" -Waterfox'
    exeDir: true
    weight: 150
    option: 'browser-waterfox'
    runas: currentUserElevated

  ################ END NO LOCAL BUILD ################
