---
title: Initial Configuration
description: Performs the preliminary configuration
actions:
  - !writeStatus: {status: 'Setting the environment'}
  - !powerShell:
    wait: true
    command: |
      function Add-ToPath ([array]$Paths) {
            $machine = [System.EnvironmentVariableTarget]::Machine
            $seperator = [IO.Path]::PathSeparator
            
            $Paths | ForEach-Object {
                  if (!(Test-Path $_ -PathType Container)) {
                        Write-Error """Path '$_' doesn't exist as a container."""
                  }
            }

            $newPath = @()
            $newPath += [Environment]::GetEnvironmentVariable('PATH', $machine) -split $seperator
            if ($newPath.Count -eq 0) { Write-Warning 'The PATH variable is currently empty.' }
            $newPath += $Paths
            $newPath = $newPath | Where-Object { $_ } | Select-Object -Unique

            [Environment]::SetEnvironmentVariable('PATH', """$($newPath -join $seperator)""", $machine)
      }

      $modulesPath = """$([Environment]::GetFolderPath('Windows'))\AtlasModules"""
      Add-ToPath """$modulesPath""", """$modulesPath\Tools""", """$modulesPath\Scripts"""

  ################ NO LOCAL BUILD ################

  - !writeStatus: {status: 'Enabling DirectPlay'}
  - !run: {exe: 'DISM.exe', args: '/Online /Enable-Feature /FeatureName:"DirectPlay" /NoRestart /All', weight: 30}
  
  - !run: {exe: 'DISM.exe', args: '/Online /Remove-Capability /CapabilityName:"App.StepsRecorder~~~~0.0.1.0" /NoRestart', weight: 30, onUpgrade: false}

  - !writeStatus: {status: 'Cleaning the component store'}
  - !run: {exe: 'DISM.exe', args: '/Online /Cleanup-Image /StartComponentCleanup', weight: 50}

    # Initial software
    # 7-Zip, Visual C++ Runtimes, DirectX
  - !writeStatus: {status: 'Installing utilities'}
  - !powerShell:
    command: '.\SOFTWARE.ps1'
    exeDir: true
    wait: true
    weight: 150
    runas: currentUserElevated
    
    #Toolbox
  - !writeStatus: {status: 'Installing AtlasOS Toolbox'}
  - !powerShell:
    command: '.\SOFTWARE.ps1 -Toolbox'
    exeDir: true
    wait: true
    weight: 100
    option: 'install-toolbox'
    runas: currentUserElevated

    # Browsers
  - !writeStatus: {status: 'Installing Brave', option: 'browser-brave'}
  - !powerShell:
    command: '.\SOFTWARE.ps1 -Brave'
    exeDir: true
    wait: true
    weight: 120
    option: 'browser-brave'
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing Firefox', option: 'browser-firefox'}
  - !powerShell:
    command: '.\SOFTWARE.ps1 -Firefox'
    exeDir: true
    wait: true
    weight: 120
    option: 'browser-firefox'
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing LibreWolf', option: 'browser-librewolf'}
  - !powerShell:
    command: '.\LIBREWOLF.ps1'
    exeDir: true
    wait: true
    weight: 120
    option: 'browser-librewolf'
    runas: currentUserElevated
  - !writeStatus: {status: 'Installing Google Chrome', option: 'browser-chrome'}
  - !powerShell:
    command: '.\SOFTWARE.ps1 -Chrome'
    exeDir: true
    wait: true
    weight: 120
    option: 'browser-chrome'
    runas: currentUserElevated

  ################ END NO LOCAL BUILD ################
