---
title: Configure Power Settings
description: Executes script to configure power settings for the best performance, especially focusing on the lowest latency e.g. by reducing any potential jitter
privilege: TrustedInstaller
actions:
    # Disable Power Saving features
  - !run:
    exe: 'Disable Power Saving.cmd'
    path: '%windir%\AtlasDesktop\3. Configuration\Power\Power Saving'
    args: '/setup'
    weight: 20
    option: 'disable-power-saving'

    # Disable Hibernation & Fast Startup
    # Disabling makes NTFS accessible outside of Windows
  - !run:
    exe: 'Disable Hibernation (default).cmd'
    path: '%windir%\AtlasDesktop\3. Configuration\Power\Hibernation'
    args: '/setup'
    weight: 20
