---
title: Add Theme
description: Adds and sets the Atlas themes by default
actions:
    # Apply theme file
  - !taskKill: {name: 'SystemSettings', ignoreErrors: true}
  - !powerShell:
    command: >-
      Start-Process -FilePath explorer -ArgumentList """$([Environment]::GetFolderPath('Windows'))\Resources\Themes\atlas-v0.4.x-dark.theme""";
      Start-Sleep 6
    wait: true
    runas: currentUserElevated

    # For Windows 11, set recent theme selection
  - !taskKill: {name: 'SystemSettings', ignoreErrors: true}
  - !taskKill: {name: 'control', ignoreErrors: true}
  - !taskKill: {name: 'explorer', ignoreErrors: true, builds: [ '>=22000' ]}
  - !powerShell:
    command: '.\AtlasModules\Scripts\newUsers.ps1 -ThemeMRU'
    exeDir: true
    wait: true
    runas: currentUserElevated
    builds: [ '>=22000' ]
  - !run: {exe: 'explorer.exe', runas: 'currentUser', wait: false, builds: [ '>=22000' ]}

    # Applies Atlas lockscreen background
    # Also disables fun facts, tips, tricks, and more on lockscreen - only on Enterprise/Education
  - !registryValue:
    path: 'HKLM\SOFTWARE\Policies\Microsoft\Windows\Personalization'
    value: 'LockScreenOverlaysDisabled'
    data: '1'
    type: REG_DWORD
  - !registryValue:
    path: 'HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\ContentDeliveryManager'
    value: 'RotatingLockScreenEnabled'
    data: '0'
    type: REG_DWORD
  - !powerShell:
    command: |
      .\AtlasModules\initPowerShell.ps1
      foreach ($userKey in (Get-RegUserPaths -NoDefault).PsPath) {
          Set-ItemProperty `
              -Path "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI\Creative\$(Split-Path $userKey -Leaf)" `
              -Name 'RotatingLockScreenEnabled' -Type DWORD -Value 0 -Force
      }
    exeDir: true
    wait: true
  - !powerShell:
    command: '& ".\AtlasModules\Scripts\LOCKSCREEN.ps1"'
    exeDir: true
    wait: true
    runas: currentUserElevated

    # Set Atlas theme as default for new users
  - !registryValue:
    path: 'HKCU\Software\Policies\Microsoft\Windows\Personalization'
    value: 'ThemeFile'
    data: '%windir%\Resources\Themes\atlas-v0.4.x-dark.theme'
    type: REG_SZ
